
.topofpage {
    display: flex;
    flex-direction: column;
    background-color: #ff9900;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 535px;
}

.bottomofhead {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 50px;
}

.bottomleft {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.signup {
    background-color: #ffd18c;
    border-radius: 8px;
    padding: 3px 20px;
}

.awesome {
    margin: 0px;

}

.underawesome {
    margin: 0px;
    color: rgb(235, 235, 235);
}

.capygif {
    width: 400px;
    height: auto;
}

.ls-header {
    color: white;
}

.rs-header {
    display: flex;
    gap: 15px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color:rgb(235, 235, 235)
}

.topmiddle {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.picstitle {
    justify-self: flex-start;
    margin: 0px;
    margin-bottom: 40px;
    font-weight: 900;
}

.picsection {
    display: flex;
    gap: 20px;
}

.first,
.second,
.third,
.fourth {
    width: 150px;
    justify-content: center;
}

.pic {
    width: 150px;
    height: auto;
    border-radius:15px;
}

.caption {
    font-size: 12px;
    text-align: center;
    margin: 0px;
    color: rgb(54, 53, 53);
}

.middlebottom {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd18c;
}

.quotesection {
    height: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 5px;
}

.quote {
    margin: 0px;
    font-size: 20px;
    font-weight: 0;
}

.person {
    align-self:flex-end;
    font-weight: 700;
}

.bottomtop {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    background-color: orange;
    border-radius: 5px;
    height: 100px;
    width: 700px;
    align-items: center;
    justify-content: space-around;
}

.leftside {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.adoptnow {
    margin: 0px;
    font-size: 18px;
    color: white;
}

.adoptunder {
    font-size: 14px;
    color: white;
    margin: 0px;
}

.abutton {
    margin: 0px auto;
    background-color: orange;
    border-radius: 5px;
    padding: 3px 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    background-color:#ff9900;
}

.fcomment {
    color: white;
    font-size: 12px;
    font-weight: 700;
}

h1,
h2,
h3,
p {
    font-family: Arial, Helvetica, sans-serif;
}